[submodule "website"]
	path = website
	url = https://github.com/academia-dev-impl/academia-pay-website.git
[submodule "backoffice"]
	path = backoffice
	url = https://github.com/academia-dev-impl/academia-pay-backoffice.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/academia-dev-impl/academia-pay-gateway.git
[submodule "poc"]
	path = poc
	url = https://github.com/academia-dev-impl/poc.git
